body {
    background-image: url(./Sin\ título-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nombre {
    color: #45c638;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

#info {
    color: #5d5d5d;
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    width: 70%;
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 100px;
}

.card {
    background-color: #fff;
    box-shadow: 0 0 20px #026e7c;
    border-radius: 70px;
    width: 50%;
    height:400px;
    margin-top: 15%;
    display: flex
}

img{
    width: 50%;
    height:400px;

}

.salir{
    margin-bottom: 200px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #026e7c;
}
#star{
    margin-left: 5px
}
