body{
    background-color: #04b0c6;
    background-size: cover;
font-family: 'Heebo', sans-serif;
font-family: 'Open Sans', sans-serif;
    margin: 0px;
}
h1{
color: rgb(252, 252, 252);
margin-left: 10%;
margin-top: 45%;
margin-right: 5%;
}
.button1, .button2{
    margin-top: 20px;
    background: #45c638;
    border: none;
    border-radius: 30px;
    padding: 0.93em 1.87em;
    color: #FFF;
    margin-right: 1.25em;
    font-size: 1.12em;
    margin-left: 10%;
    cursor: pointer;
    transition: .2s ease all;
}
.button1:hover,.button2:hover{ 
    background: #FFF;
    color: #04b0c6;
}

nav {
    background-color: WHITE;
    display: flex;
    width: 100%-40px;
    justify-content: start;
    height: 70px;
    align-items: center;
    padding: 0px 40px;
}
.link{
    display: flex;
    justify-content: end;
    margin-left: 50%;
    width: 35%;
}
.linknav:hover{ 
    color: #45c638;
}
.linknav {
    color: #04adc6;
    cursor: pointer;
    transition: .2s ease all;
    margin-left: 70px;
    text-decoration:none;
}
.img{
    width: 100%;
}
.cuerpo{
    display: flex;
}
